.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.productpage {
    overflow-wrap: break-word;
    flex-grow: 1; /*flex-grow is used to set the footer at the bottom*/
}

.addproduct-header {
    display: flex;
    justify-content: space-between;
}

.addproduct-header > h2 {  
    display: inline-block;
    align-self: center;
    margin-left: 30px;
    text-align: left;
}
.action-buttons {
    align-self: center;
    display: inline-block;
    margin-right: 30px;
}

.action-buttons > button {
    margin: 0 10px;
}

.productpage > hr {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.product-form {
    margin-left: 20px;
    width: 300px;
}

.product_form_field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.product_form_field > input {
    margin-left: 30px;
}


/* .product_form_field > #name {
}


.product_form_field > #sku {
} */


.product_description {
    font-weight: 400;
    text-align: left;
    background-color: darkslategray;
    color: #fff;
    flex: 100%;
}

.input-error {
    font-size: 12px !important;
    color: red !important;
    text-align: center !important;
}


/* popup error styling */

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    /* z-index: 1; */
    bottom: 125%;
    left: 50%;
    margin-left: 20px;
    margin-bottom: 29px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -90px; 
    transform: rotate(90) !important;
    /* border-width: 5px; */
    /* border-style: solid; */
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }